<div id="clearance" class="sign-in">
	<h2><%= t(".title") %></h2>

	<%= render partial: '/sessions/form' %>

</div>

<style>
	h2 {
		text-align: center;
		font-size: xx-large;
		margin-bottom: 15px;
	}
	#clearance {
		margin: 300px auto auto;
		max-width: 300px;
	}
</style>
